body{
    background: red;
    margin: 0;  
}

header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    background-color: rgb(12, 12, 12);
    z-index: 100;
    margin-bottom: 30px;
}

