@media (max-width: 760px) {
    /*header{
      display:flex;
      flex-direction: column;
    }*/
     .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar{
      display: none;
    }
    .container-2{
      margin:0px;
    }
    .container-4{
      flex-direction: column;
    }
    .container-5{
      margin:04%;
      margin-left: 18vw;
    }
  }

  #social_icon_footer {
    text-align: center;
    padding: 14px 0;
  }
  #social_icon_footer .social:hover {
    transform: scale(1.1);
  }
  
  #social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
  #social_icon_footer a {
    color: #333;
  }
  #social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  #social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  #social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  #social_icon_footer #social-em:hover {
    color: #f39c12;
  } 