body{
    background: red;
    margin: 0;  
}

header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    background-color: rgb(12, 12, 12);
    z-index: 100;
    margin-bottom: 30px;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  margin-top: 10px;
}

.first a{
    padding-left: 150px;
    text-decoration: none;
    color: whitesmoke;
}

.first a:hover{
  text-decoration: underline;
  color: whitesmoke;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 10px;
}
.container-2 a{
  width: 33.33%;
}

.container-2 img{
    height: 100%;
    width: 95%;
    margin-bottom: 20px;
}

.container-3 {
  display: flex;
}

.container-3 img{
    height: 100%;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 30px;
    display: flex;   
}

.container-4{
    display: flex;
    justify-content: space-around;
    width:100vw;
}
.container-5{
  width:60%;
}
.container-5 img{
    margin-top: 03vh;
    width:95%;
}
.container-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-8 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 760px) {
   .logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .first{
    display: none;
  }
  .container-2{
    margin:0px;
  }
  .container-4{
    flex-direction: column;
  }
  .container-5{
    margin:04%;
    margin-left: 18vw;
  }
}

#social_icon_footer {
  text-align: center;
  padding: 14px 0;
}
#social_icon_footer .social:hover {
  transform: scale(1.1);
}

#social_icon_footer .social {
  transform: scale(0.8);
  transition-duration: 0.5s;
}
#social_icon_footer a {
  color: #333;
}
#social_icon_footer #social-fb:hover {
  color: #3B5998;
}
#social_icon_footer #social-tw:hover {
  color: #4099FF;
}
#social_icon_footer #social-gp:hover {
  color: #d34836;
}
#social_icon_footer #social-em:hover {
  color: #f39c12;
} 